@mixin centerFlex() {
    display: flex;
    justify-content: center;
    align-items: center;
        }
@mixin SBFlex() {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    }

@mixin jost16(){
    color: #4D5053;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
    text-transform: capitalize;
}
@mixin jost22(){
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
}